<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/Theme.TwitDirect"
		tools:targetApi="31">
		<activity
			android:name=".MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".RedirectActivity"
			android:excludeFromRecents="true"
			android:exported="true">
			<tools:validation testUrl="https://fxtwitter.com" />
			<tools:validation testUrl="https://d.fxtwitter.com" />
			<tools:validation testUrl="http://fxtwitter.com" />
			<tools:validation testUrl="http://d.fxtwitter.com" />

			<tools:validation testUrl="https://fixupx.com" />
			<tools:validation testUrl="https://d.fixupx.com" />
			<tools:validation testUrl="http://fixupx.com" />
			<tools:validation testUrl="http://d.fixupx.com" />

			<tools:validation testUrl="https://twittpr.com" />
			<tools:validation testUrl="https://d.twittpr.com" />
			<tools:validation testUrl="http://twittpr.com" />
			<tools:validation testUrl="http://d.twittpr.com" />

			<tools:validation testUrl="https://vxtwitter.com" />
			<tools:validation testUrl="https://d.vxtwitter.com" />
			<tools:validation testUrl="http://vxtwitter.com" />
			<tools:validation testUrl="http://d.vxtwitter.com" />

			<tools:validation testUrl="https://fixvx.com" />
			<tools:validation testUrl="https://d.fixvx.com" />
			<tools:validation testUrl="http://fixvx.com" />
			<tools:validation testUrl="http://d.fixvx.com" />

			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter android:autoVerify="false">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="fxtwitter.com" />
				<data android:host="*.fxtwitter.com" />
			</intent-filter>
			<intent-filter android:autoVerify="false">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="fixupx.com" />
				<data android:host="*.fixupx.com" />
			</intent-filter>
			<intent-filter android:autoVerify="false">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="twittpr.com" />
				<data android:host="*.twittpr.com" />
			</intent-filter>
			<intent-filter android:autoVerify="false">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="vxtwitter.com" />
				<data android:host="*.vxtwitter.com" />
			</intent-filter>
			<intent-filter android:autoVerify="false">
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="fixvx.com" />
				<data android:host="*.fixvx.com" />
			</intent-filter>
		</activity>
	</application>
</manifest>
